* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
###################################################
Starter of Header
###################################################
*/
/* The side navigation menu */
.sidenav {
    font-family: Avenir;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #383d3e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
    overflow-y=scroll;
    border-style:solid;
}


.sidenav .nav-text {
    padding-left:30px;
    text-decoration: none;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* This stuff covers text inside the nav bar*/

.questions{
  color: #ffffff;
  font-weight: bold;
}

.answers{
  color: #ffffff;
}


#nav-title{
  color:#ffffff;
  padding-left:30%;

}


/*
###################################################
End of header
###################################################
*/




/*
###################################################
End of header
###################################################
*/








header{
  background:#333;
  color:#FFF;
  padding: 20px;
  position: relative;
}

.site-title{
  maring-left:100px;
  padding:1rem;
}


#question-mark{
  position:absolute;
  cursor:pointer;
  display: inline-block;
  width: 1.5rem;
  height: auto;
  border-radius: 1.5625rem;
  top: 0.8125rem;
  right: 26%;
  line-height: 3.125rem;
  vertical-align: middle;
}

#picture{
  position:absolute;
  cursor:pointer;
  display: inline-block;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #800000;
  top: 5.3125rem;
  right: 5%;
  line-height: 3.125rem;
  vertical-align: middle;
  background-image: url("/Users/pranavmenon/Documents/conversation-simple-master-4/Logomakr_0Q31SU.png") no-repeat top left;
}

#picture:hover {background-color: #3e8e41}

#picture:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}


a{
  color: #FFF;
  text-decoration:none;
}

nav li{
  list-style:none;
}


body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  word-wrap: break-word;
  line-height: 1.25rem;
}
/*
.change-button {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #AB72F8;
  top: 0.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
  cursor:pointer;
}


}
*/

/*
#change-button img {
  /*display:none;*
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#change-button:not(.full) .option-zero {
  display: inline-block;
}

#change-button.full .full {
  display: inline-block;;
}

*/

/* Old Version
#view-change-button {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #AB72F8;
  top: 0.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
}


*/
#contentParent {
  height: 100%;
}


.navi{
  background-color: #911a1a;
  padding: 0 20px 0 0;
  list-style: none;
  text-align: right;
  margin:0;

}


.navi > li{
  display: inline-block;
  /*padding: 20px 20px 0 25px;*/
  /*border-right: 1px solid #ffffff;*/
  font-weight: bold;
}

.navi > li > a{
  text-decoration: none;;
  color: #ffffff;
  display:inline-block;
  padding: 17px 25px 17px 25px;
}

.navi >li:hover{
  background-color:#800000;
}




/*
###############
Underline Reveal
################
*/



.hvr-underline::after{
  content:"";
  display:block;
  height: 3px;
  width: 0%;
  background-color: #ffffff;
  transition: width, 0.2s, ease;
}

.hvr-underline:hover::after{
  width: 100%;
}



#border-right{
  border-right:2px solid #ffffff;
  position:absolute:
  top:50%;
  bottom:0;
}

.logo{
  float:left;
  padding: 20px 0 18px 25px;
  display:in-line block;
  color:#800000;
  font-weight: bold;
  font-size: 16px


}

.logo > a{
  font-family:Arial;
  text-decoration: none;
  color: #ffffff;

}

/*
Button Stuff
*/


/*
.logo-picture{
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #AB72F8;
  top: 1.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
  cursor:pointer;
}
*/

/*

Original stuff

=========================================
.nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#222;
  text-align:center;
  transform:translateX(-100%);
  transition: transform 0.6s ease;
}

.nav > ul{
  margin:0;
  padding:0;
}

.main-navigation > ul > a{
  padding: 10px 20px;
  display: block;
}

*/


/*
End of Button Stuff
*/

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}


#chat-column-holder {
  text-align: center;
  overflow-y: hidden;
}

.header{
  background-image: url("http://www.iconsdb.com/icons/preview/red/square-xxl.png");
  background-position: center center;
  background-size: cover;
  height: 20px;
  width: 100%;
}

.chat-column {
  height: 100%;
  padding: 0.9375rem 0 0.625rem 0;
  margin: auto;
  text-align: left;
  max-width: 25rem;
  min-width: 9.375rem;
  box-shadow:-9px 0 20px -5px #888888, 9px 0 20px -5px #888888;

  height:90%;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 4.7rem);
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
}

.from-user .message-inner {
  position: relative;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #00B4A0;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 5 0.9375rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}


.from-user .message-inner:before {
  z-index: -2;
  bottom: -0.375rem;
  right: 0;
  height: 0.375rem;
  width: 0.5rem;
  background: #1cb3a0;
}

.from-user .message-inner:after {
  z-index: -1;
  bottom: -0.5rem;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  background: #fff;
  border-top-right-radius: 1.25rem;
}

.from-watson .message-inner {
  position: relative;
  border-radius: 1.5625rem;
  font-size: 1rem;
  color: #B5B5B5;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
}

.from-watson.latest .message-inner {
  color: #323232;
}

.from-watson p {
  margin: 0.3125rem;
  padding: 0 1.8rem;
}

.from-watson.latest.top p:before {
  content: ".";
  color: #146a8a;
  background-image: url("../img/marker_image.png");
  background-size: 1.3rem 1.5125rem;
  position: absolute;
  z-index: 2;
  left: 0.4375rem;
  width: 1.3rem;
  top: 0.5px;
  height: 1.5125rem;
  line-height: 1.3125rem;
}

#textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  margin-bottom: -0.125rem;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;

}

#textInput.underline {
  border-bottom: 2px solid #00B4A0;
}

::-webkit-input-placeholder {
  color: #B5B5B5;
}

::-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

input:-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

:-ms-input-placeholder {
  color: #B5B5B5;
}

::-ms-clear {
  display: none;
}

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}


#payload-column {
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  background-color: #23292A;
  color: #fff;
  overflow-x: auto;

  width: 45%;
  max-width: 32.0625rem;
  min-width: 29.6875rem;
  display: none
}

#payload-column.full {
  width: 100%;
  max-width: none;
  min-width: initial;
  display:none;
}

#payload-column .header-text, #payload-column #payload-initial-message {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  color: #9E9E9E;
  letter-spacing: 0.01875rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  background: #383D3E;
  display:none;
}


.hide {
  display: none;
}



.payload .line-numbers, .payload .payload-text {
  padding: 0.5rem;
}

/*
.line-numbers {
  width: 2rem;
  color: #898989;
  text-align: right;
}
*/

/*
pre {
  margin: 0;
  word-wrap: normal;
}
*/
.string {
  color: #54EED0;
}

.boolean, .null, .number {
  color: #CE8EFF;
}

.key {
  color: #66B7FF;
}

html{
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .chat-column {
    padding-top: 4rem;
  }

  #payload-column {
    width: 0;
    max-width: none;
    min-width: initial;
  }
}

/* IBM Design fonts https://github.ibm.com/Design/fonts */
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light/h-n-light.eot?') format('eot'),
  url('../fonts/light/h-n-light.woff2') format('woff2'),
  url('../fonts/light/h-n-light.woff') format('woff'),
  url('../fonts/light/h-n-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light-italic/h-n-light-italic.eot?') format('eot'),
  url('../fonts/light-italic/h-n-light-italic.woff2') format('woff2'),
  url('../fonts/light-italic/h-n-light-italic.woff') format('woff'),
  url('../fonts/light-italic/h-n-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman/h-n-roman.eot?') format('eot'),
  url('../fonts/roman/h-n-roman.woff2') format('woff2'),
  url('../fonts/roman/h-n-roman.woff') format('woff'),
  url('../fonts/roman/h-n-roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman-italic/h-n-roman-italic.eot?') format('eot'),
  url('../fonts/roman-italic/h-n-roman-italic.woff2') format('woff2'),
  url('../fonts/roman-italic/h-n-roman-italic.woff') format('woff'),
  url('../fonts/roman-italic/h-n-roman-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium/h-n-medium.eot?') format('eot'),
  url('../fonts/medium/h-n-medium.woff2') format('woff2'),
  url('../fonts/medium/h-n-medium.woff') format('woff'),
  url('../fonts/medium/h-n-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium-italic/h-n-medium-italic.eot?') format('eot'),
  url('../fonts/medium-italic/h-n-medium-italic.woff2') format('woff2'),
  url('../fonts/medium-italic/h-n-medium-italic.woff') format('woff'),
  url('../fonts/medium-italic/h-n-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold/h-n-bold.eot?') format('eot'),
  url('../fonts/bold/h-n-bold.woff2') format('woff2'),
  url('../fonts/bold/h-n-bold.woff') format('woff'),
  url('../fonts/bold/h-n-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold-italic/h-n-bold-italic.eot?') format('eot'),
  url('../fonts/bold-italic/h-n-bold-italic.woff2') format('woff2'),
  url('../fonts/bold-italic/h-n-bold-italic.woff') format('woff'),
  url('../fonts/bold-italic/h-n-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* IBM Icons */
@font-face {
  font-family: 'ibm-icons';
  src:url('../fonts/ibm-icons.eot?ytcz1z') format('eot'),
  url('../fonts/ibm-icons.eot?ytcz1z#iefix') format('embedded-opentype'),
  url('../fonts/ibm-icons.ttf?ytcz1z') format('truetype'),
  url('../fonts/ibm-icons.woff?ytcz1z') format('woff'),
  url('../fonts/ibm-icons.svg?ytcz1z#ibm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* IBM glyphs */
@font-face {
  font-family: 'ibm-glyph';
  src:url('../fonts/ibm-glyphs.eot?1b8643') format('eot'),
  url('../fonts/ibm-glyphs.eot?1b8643#iefix') format('embedded-opentype'),
  url('../fonts/ibm-glyphs.ttf?1b8643') format('truetype'),
  url('../fonts/ibm-glyphs.woff?1b8643') format('woff'),
  url('../fonts/ibm-glyphs.svg?1b8643#ibm-glyph') format('svg');
  font-weight: normal;
  font-style: normal;
}
